.btn{
  background-color: #555555;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 10px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition: 0.3s;
}
.btn:hover {
  background-color: #616d75;
  border: 2px solid rgb(36, 51, 60);
  font-size: 22px;
  -webkit-transition: 0.3s;
}

body{
  background: #000000;
}

button{
  color:#FFFFFF;
  background-color:#555555;
  border-radius: 5px;
  font-size: 13px;
}

.center-outside {
  text-align: center;
  width: 100%;
}

.center-div {
  display: inline-block;
  padding: 1em;
  border-radius:4px;
  margin-top: 100px;
}

.header-outer, .header {
	position: fixed;
	top: 0;
	left: 0;
	height: 50px;
	width: 100%;
  margin-left: 0px;
	background: #500e7d;
	user-select: none;
	color: #fff;
	z-index: 100;
}

.footer-outer, .footer {
	position: absolute;
	bottom: 0;
	left: 0;
  padding-top: 5px;
  padding-bottom: 5px;
	width: 100%;
	background: #500e7d;
	user-select: none;
	color: #fff;
	z-index: 100;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

button:focus {outline:0;}

.check{
  height:80vh;
  align: center;
  float:left;
}

input{
  width: 300px;
  height: 40px;
  font-size:20pt;
  color: white;
  background-color:#555555;
  padding: 7px;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: 0.3s;
}
input:hover {
  background-color: #537a79;
  -webkit-transition: 0.3s;
}

input:focus {
  outline:0;
  -webkit-transition: 0.3s;
}

textarea{
  width: 80vw;
  height: 80vh;
  font-size:10pt;
  color:#FFFFFF;
  background-color:#555555;
  float:left;
}

#color{
  color:#FF0000;
}

textarea:focus {outline:0;}

@keyframes defAnim {
  from {font-size: 4px;}
  to {font-size: 13px;}
}
